.Calender {
    text-align: center;
    margin-left: 10px;
  width: 90%;
  right: 15px;
  /* position: absolute; */
  padding: 6px;
  border: 1px solid  rgb(157, 189, 204);
  /* padding-top: 20px; */
  }
  
.navbar{
    background-color: #ea0a8e;
}
.header{
  text-align: center;
}

  .btn-flat {
    background-color: #ea0a8e;
    color: white;
  }

.detailsHeader{
  padding-top: 20px;
  padding-right: 30px;
 
  padding-left: 20px;
}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ea0a8e;
  color: white;
  
}
#NavDropdown{
  background-color: #ea0a8e;
  color:"white";
  width:"155px"
}
.social-container{

  background: #eee;
  padding: 8px 25px;
  text-align: center;
  margin-top: auto;
  
  
  
}

html {
  height: 100%;
}
body {
  display: flex;
  margin : 0;
  line-height: 1.125em;
  min-height: 100%;
  flex-direction: column;
  
}
Footer {
  background: #eee;
  color: white;
  padding: 15px;
  margin-top: auto;
  text-align: center;
}

.social-title {
  font-size: 15px;
  font-weight: 200;
  font-style: bold;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.instagram {
  color: black;
}

a.twitter {
  color: #49a1eb;
}

a.facebook {
  color: #4968ad;
}