.Calender {
    text-align: center;
    margin-left: 10px;
  width: 90%;
  right: 15px;
  /* position: absolute; */
  padding: 6px;
  border: 1px solid  rgb(157, 189, 204);
  /* padding-top: 20px; */
  }
  
.navbar{
    background-color: #ea0a8e;
}
.header{
  text-align: center;
}

  .btn-flat {
    background-color: #ea0a8e;
    color: white;
  }

.detailsHeader{
  padding-top: 20px;
  padding-right: 30px;
 
  padding-left: 20px;
}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ea0a8e;
  color: white;
  
}
